body
{
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.gray-bg
{
	background: url("../images/bg.png");	
	background-size: cover}
#logo11
{
	width: 16%;
	position:relative;
	top:20px;
	left:10px;
}
#logoDW
{
	position:fixed;
	bottom:20px;
	right:20px;
	width: 15%
}
#logoDW img,#logo img
{
	width: 100%
}
